/* Write your CSS here */
.appContainer {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.appImage {
  width: 200px;
  height: 200px;
}
